<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
    <test name="G:/RestAssuredFrameWork/PetStoreApIAutomation">
        <classes>
            <class name="com.petstore.qa.TestRunner.myRunner">
<!--                <methods>-->
<!--                    <include name="scenarioRunner"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>